/* Describes the most common elements and the colors used through out the whole website */
:root {
    --light-text: #ffffff;
    --dark-text: #981b1e;
    --dark-background: #981b1e;
    --light-background: #ffffff;
    --color-active: #e31c3d;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    margin: 0.2rem;
    padding: 0 2rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(224, 135, 106, 0.2) 0%,
            rgb(249, 204, 172, 0.5) 33%,
            rgb(244, 166, 136, 0.2) 66%,
            rgb(224, 135, 106, 0.2) 100%);
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 10px;
    z-index: 1000;
}

.skip-link:focus {
    display: inline-block;
    top: 0;
}

h1 {
    display: block;
    font-family: 'Lucida Handwriting';
    font-size: 2rem;
    margin: 1rem;
    text-indent: 0 !important;
}

h1,
h2,
h3 {
    color: var(--dark-background);
}

section,
article,
ul,
ol,
p {
    text-indent: 1rem;
    font-family: sans-serif;
    font-size: large;
    line-height: 1.6rem;
    text-align: left;
    /* text-align: left; is required by the guideline. */
}

strong {
    font-size: larger;
}

em {
    color: var(--dark-text);
}

abbr {
    text-decoration: none;
    color: var(--dark-text);
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

table * {
    text-align: center;
    border-radius: 0;
}

table tr {
    border: 1px solid var(--dark-background);
}

table th {
    background-color: var(--dark-background);
    color: var(--light-text);
}

table caption {
    background-color: var(--dark-text);
    color: var(--light-text);
    border-bottom: 1px solid var(--light-background);
}

table summary {
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}

table td {
    line-height: 2rem;
    text-wrap: nowrap;
    overflow: hidden;
}

.introduction {
    padding: 1rem 1rem 2rem 1rem;
    border-bottom: 5px solid var(--dark-background);
    margin-bottom: 2rem;
}

.light_text {
    color: var(--light-text) !important;
    background-color: var(--dark-background) !important;
}

.dark_text {
    color: var(--dark-text) !important;
    background-color: var(--light-background) !important;
}

.hover:hover,
.hover:hover * {
    color: var(--dark-text) !important;
    background-color: var(--light-background) !important;
    transition: background-color 0.3s ease;
}

.hover_dark:hover,
.hober_dark:hover {
    color: var(--light-text) !important;
    background-color: var(--dark-background) !important;
    transition: background-color 0.3s ease;
}

.active {
    color: var(--light-text) !important;
    background-color: var(--color-active) !important;
}

/* Mobile view */
@media screen and (max-width: 767px) {
    body {
        margin: 0rem;
        padding: 0rem;
        transition: margin 0.5s ease-out;
        transition: padding 0.5s ease-out;
    }

    h1 {
        text-align: center;
        margin: 1rem 0;
    }
}

/* Tablets */
@media screen and (min-width:768px) and (max-width: 1023px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
        transition: padding 0.5s ease-out;
    }
}

@media print {

    header,
    footer {
        display: none !important;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: var(--light-background);
    }
}