#color_palettes_container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.cp_table {
    flex: 30%;
}

.cp_table td {
    width: 50%;
    cursor: pointer;
}

.cp_table td:nth-of-type(even) {
    border-left: 1px solid var(--dark-background);
}


@media screen and (max-width: 767px) {
    #color_palettes_container {
        padding: 0 1rem;
    }

    .cp_table {
        flex: 100%;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .cp_table {
        flex: 45%;
    }
}

@media print {
    #click_notice {
        display: none;
    }

    #color_palettes_container {
        margin-top: 3rem;
        gap: 3rem;
    }

    .cp_table {
        page-break-inside: avoid;
    }

    body {
        print-color-adjust: exact !important;
        -webkit-print-color-adjust: exact;
    }

    details {
        height: 100px;
    }
}