.hide {
    /* Used to toggle different breadcrumbs */
    display: none !important;
}

.display_flex {
    /* Used to toggle different breadcrumbs */
    display: flex;
}

#color_schemes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color_scheme_navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 0.3rem;
    padding: 0 0 2rem 0;
    margin: 0;
}

#color_scheme_navigation li {
    text-indent: 0 !important;
    list-style: none;
    line-height: 1.5rem;
    padding: 0.3rem;
}

#color_schemes_canvas_wrapper {
    display: flex;
    gap: 1rem;
    width: 95%;
    justify-content: space-between;
    align-items: flex-start;
}

#color_scheme_description {
    flex: 1;
    display: block;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#color_scheme_description>figure {
    margin: 0;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid var(--dark-background);
    border-bottom: 2px solid var(--dark-background);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.color_scheme_img img {
    margin: 0.5rem;
    max-width: max-content;
    width: 100%;
}

.color_scheme_img figcaption {
    width: 90%;
    border-top: 2px solid var(--dark-background);
    padding: 1rem;
    text-align: justify;
}


#color_wheel_instructions {
    flex: 1;
}

#color_wheel_instructions>table {
    margin: 0 auto;
    width: 90%;
    user-select: none;
}

#color_scheme_description td {
    width: 50%;
    cursor: pointer;
}

#color_wheel_column {
    flex: 1;
}

#canvas_container {
    margin: 0 auto;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 400px;
}

#canvas {
    width: 100%;
    height: 100%;
}

#switch_color_scheme {
    display: flex;
    font-size: larger;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.5rem;
    padding: 0.3rem;
}

#previous_mode,
#next_mode {
    background-color: var(--dark-background);
    color: var(--light-text);
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
}


/* Mobile view */
@media screen and (max-width: 767px) {
    #color_schemes_canvas_wrapper {
        width: 95%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #color_scheme_navigation li:nth-of-type(even) {
        display: none !important;
    }

    #color_scheme_description,
    #color_wheel_instructions,
    #color_wheel_column {
        flex: 100%;
    }

    .color_scheme_img {
        margin: 0.2rem;
    }
}

/* Tablets */
@media screen and (min-width:768px) and (max-width: 1023px) {
    #color_schemes_canvas_wrapper {
        width: 95%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #color_scheme_navigation li:nth-of-type(even) {
        display: none !important;
    }

    #color_scheme_description,
    #color_wheel_instructions,
    #color_wheel_column {
        width: 100%;
        flex: 100%;
    }
}

@media print {
    .color_scheme_img {
        margin: 1rem;
    }

    #color_scheme_navigation {
        display: none;
    }

    #color_wheel_instructions,
    #color_wheel_column {
        display: none;
    }

    #monochromatic,
    #complementary,
    #triadic {
        page-break-after: always;
    }

    .color_scheme_img figcaption {
        height: auto;
        padding: 0.2rem 0.2rem;
    }

    .hide {
        display: flex !important;
    }
}