.history_article {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.history_article:not(:last-child) {
    border-bottom: 3px solid var(--dark-background);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.history_article article {
    flex: 2 1 0;
}

.history_article:nth-child(even) {
    flex-direction: row-reverse;
}

.history_img_anchor {
    flex: 1 1 0;
    display: block;
    border: 3px solid var(--dark-background);
    box-shadow: inset 1px 1px 2px 2px var(--dark-background);
    background-image: url("../media/imgs/history/image_background.jpg");
    padding: 0.5rem;
}

.history_img {
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1023px) {
    .history_article,
    .history_article:nth-child(even) {
        flex-direction: column;
    }
}

@media print {
    /* All your print styles go here */
}