#index_introduction {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.index_introduction_left {
    padding: 0 5rem 2rem 5rem;
}

#index_more_about {
    color: var(--light-text);
    background-color: var(--dark-background);
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    padding: 1rem;
    margin: 1rem 0 0 0;
    border: 1px solid var();
    width: fit-content;
}

.index_introduction_right a {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0 0 0;
}

.index_introduction_right video {
    width: 100%;
    height: auto;
}

/************/

#thumbnail_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem 0 2rem;
}

.thumbnail {
    text-decoration: none;
    border: 5px solid var(--dark-background);
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    aspect-ratio: 9 / 16;
    width: 25%;
    padding: 1rem;
}

.thumbnail img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: 80% 100%;
    opacity: 0.5;
}

.thumbnail p {
    color: var(--light-text);
    width: auto;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 2rem;
    font-size: large;
}

.thumbnail:hover img {
    opacity: 1;
}

/* Mobiles */
@media screen and (max-width: 767px) {
    .index_introduction_left {
        transition: padding 0.5s ease-in-out;
        padding: 0;
    }

    #index_introduction {
        flex-direction: column;
    }

    #index_more_about {
        margin: 1rem auto 1rem auto;
    }

    .thumbnail{
        width: 100%;
        transition: width 0.5s ease-in-out;
    }
}

/* Tablets */
@media screen and (min-width:768px) and (max-width: 1023px) {
    .index_introduction_left {
        transition: padding 0.5s ease-in-out;
        padding: 0;
    }
    .thumbnail{
        width: 40%;
        transition: width 0.5s ease-in-out;
    }
}

@media print {
    /* All your print styles go here */
}