#homepage_introduction {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

#index_more_about,
#full_video_link {
    padding: 1rem;
    width: fit-content;
}

#index_more_about,
#full_video_link,
#transcript_toggle {
    border: 1px solid var(--dark-background);
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    user-select: none;
}

#full_video_link,
#transcript_toggle {
    margin-left: auto;
    margin-right: auto;
}

#transcript_toggle {
    width: 95%;
    padding: 0.2rem;
    cursor: pointer;
}

#video_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid var(--dark-background);
    margin-left: 2rem;
    padding-left: 2rem;
}

#video {
    width: 480px;
    height: 360px;
}

#transcript_list {
    display: none;
    list-style: none;
    padding: 0;
}

#transcript_list a {
    color: var(--dark-text);
}

/* Thumbnail styles */
#thumbnail_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem 0 2rem;
}

.thumbnail {
    max-width: 500px;
    text-decoration: none;
    border: 5px solid var(--dark-background);
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    aspect-ratio: 9 / 16;
    width: 25%;
    padding: 1rem;
}

.thumbnail_img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: 80% 100%;
    opacity: 0.7;
}

.thumbnail_text,
.thumbnail_text strong {
    color: var(--light-text);
    width: auto;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    font-size: large;
}

.thumbnail:hover .thumbnail_img {
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Different views */
/* Mobiles */
@media screen and (max-width: 767px) {
    #homepage_introduction {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .index_introduction_left {
        transition: padding 0.5s ease;
        padding: 0;
    }

    #index_introduction {
        flex-direction: column;
    }

    #index_more_about {
        margin: 1rem auto 1rem auto;
    }

    .thumbnail {
        width: 100%;
        transition: width 0.5s ease-in-out;
    }

    .thumbnail_img {
        opacity: 1;
    }

    #video_container {
        border-left: 0;
        margin-left: 0;
        padding-left: 0
    }

    #video {
        max-width: 320px;
        max-height: 240px;
        width: 100%;
        height: auto;
    }
}

/* Tablets */
@media screen and (min-width:768px) and (max-width: 1023px) {
    .index_introduction_left {
        transition: padding 0.5s ease-in-out;
        padding: 0;
    }

    .thumbnail {
        width: 40%;
        transition: width 0.5s ease-in-out;
    }

    .thumbnail_img {
        opacity: 1;
    }

    #video {
        width: 320px;
        height: 240px;
        transition: width 0.5s ease;
        transition: height 0.5s ease;
    }
}

@media print {
    #thumbnail_container {
        flex-wrap: nowrap;
        gap: 0rem;
        padding: 0;
    }

    #video_container {
        display: none;
    }
}