#homepage_introduction {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 3rem;
}

#index_more_about,
#index_full_video {
    border: 1px solid var(--dark-background);
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    padding: 1rem;
    margin: 1rem 0 0 0;
    width: fit-content;
}

#index_more_about {
    color: var(--light-text);
    background-color: var(--dark-background);
}

#video_container a {
    color: var(--dark-text);
    background-color: var(--light-background);
    margin-left: auto;
    margin-right: auto;
}

#video_container video {
    width: 100%;
    height: auto;
}

/* Thumbnail styles */
#thumbnail_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem 0 2rem;
}

.thumbnail {
    max-width: 500px;
    text-decoration: none;
    border: 5px solid var(--dark-background);
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    aspect-ratio: 9 / 16;
    width: 25%;
    padding: 1rem;
}

.thumbnail_img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: 80% 100%;
    opacity: 0.7;
}

.thumbnail_text {
    color: var(--light-text);
    width: auto;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    font-size: large;
}

.thumbnail:hover .thumbnail_img {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

/* Different views */
/* Mobiles */
@media screen and (max-width: 767px) {
    #homepage_introduction {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .index_introduction_left {
        transition: padding 0.5s ease-in-out;
        padding: 0;
    }

    #index_introduction {
        flex-direction: column;
    }

    #index_more_about {
        margin: 1rem auto 1rem auto;
    }

    .thumbnail {
        width: 100%;
        transition: width 0.5s ease-in-out;
    }

    .thumbnail_img {
        opacity: 1;
    }
}

/* Tablets */
@media screen and (min-width:768px) and (max-width: 1023px) {
    .index_introduction_left {
        transition: padding 0.5s ease-in-out;
        padding: 0;
    }

    .thumbnail {
        width: 40%;
        transition: width 0.5s ease-in-out;
    }

    .thumbnail_img {
        opacity: 1;
    }
}

@media print {
    #thumbnail_container{
        flex-wrap: nowrap;
        gap: 0rem;
        padding: 0;
    }
}