:root {
    --light-text: white;
    --dark-text: #2a0933;
    --dark-background: #2b1a33;
    --light-background: #f0dff85e;
    --color-active: #74547c;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    border-radius: 3px;
}

body {
    padding: 0 2rem 10rem 2rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(179, 0, 255, 0.301) 0%,
            rgba(255, 255, 255, 0.089) 20%,
            rgb(255, 255, 255) 100%);
}

main {
    padding: 2rem 0.5rem 2rem 0.5rem;
}

main>* {
    padding: 0 1rem 1rem 1rem;
}

h1 {
    font-family: 'Lucida Handwriting';
    color: var(--dark-background);
    font-size: 1.8rem;
    padding: 2rem;
}
/*
h2 {
    color: var(--dark-background);
    font-size: 1.5rem;
    padding: 1rem;
}
*/
article {
    text-indent: 1rem;
    text-align: justify;
    line-height: 1.6rem;
}

strong {
    color: var(--dark-text);
    font-size: larger;
}

.hide{
    display: none !important;
}

.display_flex{
    display:flex;
}


.hover:hover {
    color: var(--dark-text) !important;
    background-color: var(--light-background) !important;
}

.hover:hover * {
    color: var(--dark-text) !important;
}

.hover_dark:hover {
    color: var(--light-text);
    background-color: var(--dark-background);
    cursor: pointer;
}

.introduction {
    margin-bottom: 3rem;
    border-bottom: 5px solid var(--dark-background);
    padding: 0 1rem 1rem 1rem;
}

/* MENU *****/
#navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 5px solid var(--dark-background);
    height: 100px;
    margin-top: 1rem;
}

#logo {
    display: block;
    margin-right: 1rem;
}

#navigation_left,
#navigation_right {
    display: flex;
    align-items: center;
}

#pages,
#social_links {
    display: flex;
    align-content: center;
    height: 48px;
}

#pages>a {
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 48px;
    background-color: var(--dark-background);
    color: var(--light-text);
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.active {
    color: var(--light-text) !important;
    background-color: var(--color-active) !important;
}

#social_links>a {
    display: block;
}

/* Mobiles */

@media screen and (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
        transition: padding 0.5s ease-out;
    }

    #logo {
        display: none;
    }

    /*
    #navigation{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #pages,
    #social_links {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: var(--dark-background);
    }

    #social_links *:not(:first-child),
    #pages *:not(:first-child) {
        display: none;
    }
*/
}

/* Tablets */
@media screen and (min-width:768px) and (max-width: 1023px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
        transition: padding 0.5s ease-out;
    }

    #navigation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo {
        display: none;
    }
}

@media print {
    /* All your print styles go here */
}